/* Side Menu Styles */
.side-menu {
    -fx-background-color: white;
    -fx-background-radius: 20 20 0 0; /* Заокруглення верхніх лівого і правого кутів (верхній лівий, верхній правий, нижній правий, нижній лівий) */
}
.side-btn {
  -fx-background-color: #e47d7e;
  -fx-background-radius: 24px;
  -fx-alignment: CENTER;
  -fx-cursor: hand;
  -fx-padding: 0 10px 0 10px;
}

.text-field {
  -fx-background-color: transparent;
  -fx-border-color: #000000;
  -fx-border-radius: 24px;
  -fx-padding: 0 10px 0 10px;
}
.close-button {
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.close-button:hover {
  -fx-background-color: #ff0000;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.2, 0, 2);
}

.minimize-button {
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.minimize-button:hover {
  -fx-background-color: rgba(255, 255, 255, 0.2);
}

.image-view {
  -fx-border-color: #e47d7e; /* Колір рамки */
  -fx-border-width: 2; /* Товщина рамки */
  -fx-border-radius: 50%; /* Робить рамку круглою */
  -fx-background-radius: 50%; /* Заокруглює фон, якщо він є */
}
.menu-button {
  -fx-background-color: transparent;
  -fx-alignment: CENTER_LEFT;
  -fx-padding: 0 10px 0 10px;
  -fx-cursor: hand;
}